:root {
  --primary: #e99401;
  --black: #262626;
  --white: #fff;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*='contenedor'],
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*='heading'] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/** Navegador **/

.navegador {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}
.navegador a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 0.1rem;
  transition-property: background;
  transition-duration: 300ms;
}

.header-container .navegador a:hover,
.header-container .active {
  background: var(--primary);
  padding: 0.8rem;
}

/** Header **/

.header-container {
  background: linear-gradient(to right, rgba(0 0 0 / 0.75), rgba(0 0 0 / 0.6)),
    url('../public/img/header.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 4rem 6rem;
  align-items: center;
}

.header-container img {
  height: auto;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/** Footer **/

.footer-container {
  background: #262626;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 4rem 6rem;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.copyright {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

/** Carrito **/

.carrito-logo {
  width: 2.1rem;
}

.footer-container .carrito-logo {
  display: none;
}
